
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/global/vendor/tablesaw/tablesaw.css">

<div class="col-xl-12 col md-12">
    <div class="panel">
        <header class="panel-heading">
            <h3 class="panel-title">Swipe</h3>
        </header>
        <div class="panel-body">
            <div class="tablesaw-bar tablesaw-mode-swipe tablesaw-all-cols-visible"><div class="tablesaw-advance"><a href="#" class="tablesaw-nav-btn btn btn-micro left disabled waves-effect waves-classic" title="Previous Column"></a><a href="#" class="tablesaw-nav-btn btn btn-micro right waves-effect waves-classic disabled" title="Next Column"></a></div><div class="tablesaw-advance minimap" style="display: block;"><ul class="tablesaw-advance-dots"><li><i></i></li><li><i></i></li><li><i></i></li><li><i></i></li><li><i></i></li><li><i></i></li><li><i></i></li><li><i></i></li><li class=""><i></i></li><li class=""><i></i></li></ul></div></div><table class="tablesaw table-hover table-bordered tablesaw-swipe" data-tablesaw-mode="swipe" data-tablesaw-minimap="" id="tablesaw-794">
                <thead>
                    <tr>
                        <th data-tablesaw-priority="persist" class="tablesaw-cell-persist">Name</th>
                        <th>Rank</th>
                        <th>Money</th>
                        <th>Money</th>
                        <th>A (1–5)</th>
                        <th>B (1–5)</th>
                        <th>C (%)</th>
                        <th>D (1–5)</th>
                        <th class="">E (1–5)</th>
                        <th class="">F (1–5)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="tablesaw-cell-persist"><a href="javascript:void(0)">Amanda</a></th>
                        <td>1</td>
                        <td>18.72</td>
                        <td>18.72</td>
                        <td>5</td>
                        <td>5</td>
                        <td>98</td>
                        <td>4</td>
                        <td class="">5</td>
                        <td class=""><button type="button" class="btn btn-block btn-warning waves-effect waves-classic" style="width:100px;">Detay</button></td>
                    </tr>
                    <tr>
                        <th class="tablesaw-cell-persist"><a href="javascript:void(0)">Dave</a></th>
                        <td>2</td>
                        <td>20.52</td>
                        <td>20.52</td>
                        <td>4</td>
                        <td>3</td>
                        <td>87</td>
                        <td>5</td>
                        <td class="">3</td>
                        <td class=""><button type="button" class="btn btn-block btn-info waves-effect waves-classic">Detay</button></td>
                    </tr>
                    <tr>
                        <th class="tablesaw-cell-persist"><a href="javascript:void(0)">Kristen</a></th>
                        <td>3</td>
                        <td>21.36</td>
                        <td>21.36</td>
                        <td>2</td>
                        <td>5</td>
                        <td>89</td>
                        <td>4</td>
                        <td class="">5</td>
                        <td class="">3</td>
                    </tr>
                    <tr>
                        <th class="tablesaw-cell-persist"><a href="javascript:void(0)">Kenny</a></th>
                        <td>4</td>
                        <td>27.15</td>
                        <td>27.15</td>
                        <td>4</td>
                        <td>4</td>
                        <td>98</td>
                        <td>5</td>
                        <td class="">4</td>
                        <td class="">3</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <button type="button" class="btn btn-block btn-primary waves-effect waves-classic" style="width:100px;">Primary</button>

        </div>
    </div>
</div>

<script src="~/global/vendor/tablesaw/tablesaw.jquery.js"></script>
<script src="~/global/js/Plugin/tablesaw.js"></script>