
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <header class="panel-heading">
        <div class="panel-actions"></div>
        <h3 class="panel-title">Anasayfa</h3>
    </header>
    <div class="panel-body">
        <h6>Toplam Sipariş Sayısı</h6>
        <h6>Toplam Kullanıcı Sayısı</h6>
    </div>
</div>