@model List<Management_Panel.Models.Kategori>
@{
    ViewData["Title"] = "KategoriEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Sonuc != "")
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Kategori başarıyla eklendi!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="panel">
    <header class="panel-heading">
        <div class="panel-actions"></div>
        <h3 class="panel-title">Kategori Ekle</h3>
    </header>
    <div class="panel-body">
        <form action="/Kategori/KategoriEkle" method="post">
            <div class="row">
                <div class="col-md-3">Ad: </div>
                <div class="col-md-3"><input type="text" name="name" placeholder="Kategori adını giriniz." class="form-control" /> </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-3">Üst Kategori Ad: </div>
                <div class="col-md-3">
                    <select name="id" class="form-control">
                        <option value="yok">Yok</option>
                        @foreach (var k in Model)
                        {
                            <option value="@k.id">@k.name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <input type="submit" value="Kaydet" class="btn-block btn-info form-control" />
                </div>
            </div>
        </form>
    </div>
</div>


