@model Management_Panel.Models.Kategori
@{
    ViewData["Title"] = "KategoriEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>@ViewBag.S</h4> @*mesaj-alert*@
<div class="panel">
    <header class="panel-heading">
        <div class="panel-actions"></div>
        <h3 class="panel-title">Kategori Ekle</h3>
    </header>
    <div class="panel-body">
        <form action="/Kategori/KategoriEkle" method="post">
            <div class="row">
                <div class="col-md-3">Ad: </div>
                <div class="col-md-3"><input type="text" name="name" placeholder="Kategori adını giriniz." class="form-control" /> </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-3">Üst Kategori Ad: </div>
                <div class="col-md-3">
                    @*<input type="text" name="refName" placeholder="Üst kategori adını giriniz." class="form-control" />*@


                    <select name="refName" class="form-control">
                        <option value="yok">Yok</option>
                        <option value="unluMamul">Unlu Mamüller</option>
                    </select>
                </div>


            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <input type="submit" value="Kaydet" class="btn-block btn-info form-control" />
                </div>
            </div>
        </form>
    </div>
</div>


