@{
    ViewData["Title"] = "UrunEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Management_Panel.Models.Result sonuc = (Management_Panel.Models.Result)TempData["result"];
}
@if (sonuc != null)
{
    @if (sonuc.result == true)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@sonuc.message </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>@sonuc.message </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
<div class="panel">
    <header class="panel-heading">
        <div class="panel-actions"></div>
        <h3 class="panel-title">Ürün Ekle</h3>
    </header>
    <div class="panel-body">
        <form action="/Urun/UrunEkle" method="post">
            <div class="row">
                <div class="col-md-3">Ad: </div>
                <div class="col-md-3"><input type="text" name="name" placeholder="Ürün adını giriniz." class="form-control" /> </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-3"><label for="description">Açıklama: </label> </div>
                <div class="col-md-3">  <textarea id="description" name="description" rows="5" placeholder="Ürün açıklamasını giriniz." class="form-control"></textarea></div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-3">Fiyat: </div>
                <div class="col-md-3"><input type="number" name="price" placeholder="Ürün fiyatı giriniz." class="form-control" /> </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-3">Resim: </div>
                <div class="col-md-3"><input type="file" name="image" class="form-control" /> </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-3">Stok Durumu: </div>
                <div class="col-md-3">
                    <select name="isStock" class="form-control">
                        <option value="True" selected>Var</option>
                        <option value="False">Yok</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-3">Miktar: </div>
                <div class="col-md-3"><input type="number" name="quantity" placeholder="Ürün miktarını giriniz." class="form-control" /> </div>
            </div>
            <div class="row" style="margin-top:15px">
                <div class="col-md-3">Birim Kodu: </div>
                <div class="col-md-3">
                    <select name="unit" class="form-control">
                        <option value="Kg" selected>Kg</option>
                        <option value="Lt">Lt</option>
                        <option value="Gr">Gr</option>
                        <option value="Kutu">Kutu</option>
                        <option value="Kavanoz">Kavanoz</option>
                        <option value="Adet">Adet</option>
                    </select>
                </div>
            </div>
            @*<input type="hidden" value="True" name="status" />*@
            <div class="row" style="margin-top:15px">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <input type="submit" value="Kaydet" class="btn-block btn-info form-control" />
                </div>
            </div>
        </form>
    </div>
</div>
